p {color: rgb(255, 111, 135);}
ul {color: rgb(194, 16, 105)}
h1 {color: purple}
h2 {color:purple}
#ivantill {width: 300px;}
#ivantill2 {width: 380px}
.highlight_01 {background: #aef39a;}
.highlight_02 {background: #ffa6d8;}
span {color: rgb(252, 2, 64)}
b {font-size: 20px;}