body { 
    background-color: rgb(233, 233, 137); padding: 20px;
    background-image: url("images/ivantill-meteorshower.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head {
    color:antiquewhite;
    text-align: center;
}

.main-section {
    width: 400px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute;
    top: 200px;
    float: center;
    position: center;
}

#suggestion-box {
    display: inline-block;
    background-color: pink;
    margin-top: 20px;
    font-size: 18px;
    color: red;
}

button {
    background-color: rgb(39, 2, 2);
    color: antiquewhite;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    margin: 10px;
}
#ivantillbabies {
    width: 400px;
    border: 1.7px solid rgb(0, 0, 0);
    border-radius: 10px;
}