body {
    background-image: url("images/ivantill-meteorshower.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
h2 {color:antiquewhite}
#ivantillbabies {
    width: 400px;
    border: 1.7px solid rgb(0, 0, 0);
    border-radius: 10px;
}
#leaving {
    width: 300px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}
#happy {width: 300px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute;
}
#lettinggo {
    width: 300px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute; right: -870px;
}
#erm {
    width: 500px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#iknewit {
    width: 300px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.top-section {
    position: absolute; top: 0;
}
.top-section h2 {
    border: 2px solid rgb(46, 2, 2);
    background-color: rgb(31, 10, 9);
    padding: 20px;
    width: 302px;
    border-radius: 5px;
}
.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.bottom-section {
    position:absolute; bottom: 0;
}
