body {background-image: url("images/blacksorrowstage.jpg");
  background-size: cover;
   background-attachment: fixed;
  background-position: center;
}
img {width: 200px;}
p {color:bisque}
h2 {color:aliceblue}